.question-container {
  margin-top: 1rem;
}

.answer-choices-container {
  display: flex;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .question-text {
    font-size: 1.3rem;
  }

  .answer-choices-container {
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }
}

.answer-choice {
  display: none;
}

.answer-choice:checked + label {
  background-color: rgb(85, 129, 170);
  color: white;
  border: none;
}

.answer-label {
  background-color: rgba(243, 243, 243, 0.733);
  color: rgb(42, 0, 119);
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  min-width: 120px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid rgb(42, 0, 119);
  border-radius: 30px;
  cursor: pointer;
}

.highlight-incorrect {
  background-color: rgb(255, 164, 164);
}

.highlight-correct {
  background-color: rgb(80, 170, 80);
  color: white;
  border: none;
}
